<web-app>
<servlet>
<servlet-name>ID</servlet-name>
<servlet-class>DatabaseAccess</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ID</servlet-name>
<url-pattern>/ID</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Signup</servlet-name>
<servlet-class>SignupUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Signup</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FormSubmission</servlet-name>
<servlet-class>Form</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FormSubmission</servlet-name>
<url-pattern>/form</url-pattern>
</servlet-mapping>
</web-app>